*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
font-size: 3em;
color: #fff;
font-weight: 500;
}
.contact .content p {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
/* 3:48 / 21:15 */